@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --clr-header: #161b22;
  --clr-font: rgb(255, 255, 255);
  --clr-background-side-: #0e1117;
  --clr-background-main: #02040a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

/*NAVBAR*/

.navbar {
  background-color: #161b22;
  height: 62px;
  color: var(--clr-font);
  font-size: 14px;
  position: relative;
}

.navbar .flex {
  justify-content: flex-start;
  padding: 20px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--clr-font);
  padding: 5px;
  margin: 0 3px;
  font-weight: 800;
  font-size: 15px;
}

.navbar img {
  height: 51px;
  width: 51px;
  margin: 3px;
}
.search-bar input[type="text"] {
  margin: 0 10px;
  padding: 6px 13px;
  min-width: 250px;
  background-color: #02040a;
  border: 1px solid #8b949e80;
  border-radius: 5px;
  color: var(--clr-font);
  font-size: 14px;
}

.search-bar input:focus {
  outline: none;
}

.navbar-nav {
  flex-direction: row;
}

.account-nav {
  justify-self: flex-end;
  position: absolute;
  right: 20px;
}

.account-nav a {
  margin: 10px;
  padding: 2px;
  font-weight: 600;
}

.account-nav i {
  font-size: 16px;
}

.navbar-nav a:hover,
.account-nav i:hover {
  color: #8b949e;
}

/*OSTALO*/

.container {
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

::placeholder {
  color: #c2c3c4;
}
