@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

:root {
  --clr-header: #161b22;
  --clr-font: #c9d1d9;
  --clr-background-side-: #0e1117;
  --clr-background-main: #02040a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #c9d1d9;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  background-color: #02040a;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

img {
  width: 100%;
}

/*NAVBAR*/

.navbar {
  background-color: #161b22;
  height: 62px;
  color: white;
  font-size: 14px;
  position: relative;
}

.navbar .flex {
  justify-content: flex-start;
  padding: 20px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  padding: 5px;
  font-size: 15px;
  margin: 0 3px;
  letter-spacing: 0.5px;
}

.navbar img {
  height: 51px;
  width: 51px;
  margin: 0px;
}

.search-bar input[type="text"] {
  margin: 0 10px;
  min-width: 250px;
  background-color: #02040a;
  border: 1px solid #8b949e80;
  border-radius: 5px;
  color: var(--clr-font);
  padding: 3px 12px;
  font-size: 14px;
  line-height: 20px;
}

.search-bar input:focus {
  outline: none;
}

.navbar-nav {
  flex-direction: row;
}

.account-nav {
  justify-self: flex-end;
  position: absolute;
  right: 40px;
}

.account-nav a {
  padding: 2px;
  font-weight: 600;
  color: white;
}

.account-nav i {
  font-size: 16px;
  align-content: center;
  justify-content: center;
  margin-right: 10px;
}

.account-nav .fa-user {
  font-size: 13px;
}

.navbar-nav a:hover,
.account-nav i:hover {
  color: #8b949e;
}
.content {
  height: 100%;
}
/*SIDEBAR*/

.sidebar-content {
  padding: 0px 35px;
  margin: 35px 0px;
}

.sidebar {
  color: var(--clr-font);
  background-color: var(--clr-background-side-);
  align-items: center;
  font-size: 13px;
  width: auto;
  border-right: 1px solid #8b949e80;
  width: 100%;
  position: sticky;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
}

.sidebar a {
  color: var(--clr-font);
  font-weight: normal;
  font-size: 15px;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.sidebar-top h2 {
  font-size: 15px;
}

.sidebar button {
  padding: 3px 12px;
  background-color: #238636;
  border: none;
  border-radius: 5px;
  padding: 3px 12px;
  color: var(--clr-font);
  font-size: 12px;
}

.sidebar button i {
  margin-right: 2px;
  font-size: 14px;
}
.sidebar button .sidebar-top h2 {
  font-size: 16px;
}

.sidebar-search-bar input[type="text"] {
  padding: 5px;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 100%;
}

.sidebar-search-bar ::placeholder {
  color: #30363d;
}

.sidebar-content-top ul {
  display: flex;
  flex-direction: column;
  margin: 16px 0px;
}

.sidebar-content-top li {
  padding: 4px 2px;
  display: flex;
  align-items: center;
}

.sidebar-content-top a i {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  font-size: 10px;
  color: white;
  font-weight: bold;
}

.sidebar-content-top i:hover {
  color: #8b949e;
}

.sidebar-content-bottom {
  border-top: 1px solid #30363d;
}

.sidebar-content-bottom h2 {
  margin: 15px 0px;
  font-size: 16px;
}
/*MIDDLE CONTENT*/
.middle {
  background-color: var(--clr-background-main);
  color: var(--clr-font);
  padding: 24px;
}

.middle h2 {
  font-size: 16px;
  font-weight: normal;
  padding-top: 10px;
}

.content-box {
  border-bottom: 1px solid #30363d;
  padding-bottom: 18px;
}

.content-box h1 {
  font-size: 15px;
  font-weight: 600;
}

.content-box a {
  color: var(--clr-font);
}
.content-box p {
  font-weight: 400;
  font-size: 15px;
}
.content-box p a {
  font-weight: bold;
  font-size: 15px;
}

.content-box ul {
  display: flex;
  flex-direction: column;
}

.content-box li {
  padding: 4px 2px;
  display: flex;
  align-items: center;
}

.content-box i {
  font-size: 20px;
}

.content-box a i {
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  font-weight: normal;
  margin-top: 15px;
  color: white;
  font-weight: bold;
}

.content-box a:hover i {
  color: var(--clr-font);
}
.date {
  color: #8b949e;
  font-size: 13px;
  font-weight: 400;
}

.content-box a:hover {
  color: #58a6ff;
}

.content-box .date {
  margin-left: 5px;
}

h1 + .date {
  margin-left: 5px;
}

.border-content-top a {
  font-size: 17px;
}

.border-content {
  background-color: #0e1117;
  border: 1px solid #30363d;
  border-radius: 5px;
  padding: 16px;
  line-height: 1.5;
  margin-left: 48px;
}

.border-content-top {
  display: flex;
  justify-content: space-between;
}

.border-content-bottom .date {
  font-size: 14px;
}

.border-content-top button i {
  font-size: 12px;
}

.border-content-top button {
  font-size: 12px;
}

.border-content .date {
  margin-left: 0px;
}

/*FOOTER*/
.middle-footer {
  font-size: 13px;
  color: #828b95;
  width: 100%;
}

.middle-footer a {
  color: #58a6ff;
  font-size: 13px;
}

.middle-footer p {
  margin: 25px 0 8px 0;
}

.middle-footer a:hover {
  text-decoration: underline;
}

.middle-footer i {
  margin-right: 3px;
  font-size: 15px;
  color: #828b95;
}

.middle-footer-content p + a {
  color: #828b95;
  font-weight: 400;
}

.middle-footer-content p + a:hover {
  color: #58a6ff;
}

.middle-footer img {
  width: 38px;
  height: 38px;
  margin-left: -45px;
  filter: opacity(40%);
}

.middle-footer-content p {
  margin: 8px 0;
}

.middle-footer-nav p {
  margin-left: -35px;
}

.middle-footer-nav {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  margin: 32px 0;
}

.middle-footer-nav a {
  color: #828b95;
  font-weight: 400;
  font-size: 13px;
}

.middle-footer-nav a:hover {
  color: #58a6ff;
  font-weight: 400;
  font-size: 13px;
}
.middle-footer-nav li {
  margin-bottom: 4px;
}
.middle-footer-nav ul {
  justify-content: space-evenly;
}

/*RIGHT SIDEBAR*/
.sidebar-right {
  color: var(--clr-font);
  background-color: var(--clr-background-main);
  align-items: center;
  font-size: 13px;
  width: auto;
  height: 100%;
  width: 100%;
  padding: 0 24px;
}

.sidebar-right h2 {
  font-size: 16px;
  margin-bottom: 2px;
}

.sidebar-right p {
  color: #8b949e;
}

.sidebar-content-box {
  margin: 8px 0;
  padding: 8px 0;
  border-bottom: 1px solid #8b949e80;
}

.sidebar-content-box h3 a {
  font-size: 13px;
  font-weight: 600;
}

.sidebar-content-box h3 a:hover {
  color: #58a6ff;
  text-decoration: none;
}

.sidebar-content-box ul {
  display: flex;
  align-content: center;
}

.sidebar-content-box li {
  margin-right: 10px;
  color: #8b949e;
}

.sidebar-content-box .fa-circle {
  color: #e34c25;
}

.box1 ul {
  margin-top: 15px;
}

.box2 i {
  margin-top: 15px;
}

.box3 i {
  margin-top: 15px;
}

.box3 {
  border: none;
}

.sidebar-end a {
  font-size: 13px;
  color: #8b949e;
}

.sidebar-end a:hover {
  color: #58a6ff;
}
/*OSTALO*/

.container {
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  height: 100%;
  justify-content: center;
}

::placeholder {
  color: #c2c3c4;
}

.btn {
  background-color: #21262c;
  border: 1px solid #30363d;
  border-radius: 5px;
  padding: 3px 12px;
  color: var(--clr-font);
}

button {
  background-color: #21262d;
  border: 1px solid rgb(240, 246, 252, 0.1);
  border-radius: 5px;
  padding: 3px 12px;
  color: var(--clr-font);
  padding: 3px 12px;
  line-height: 20px;
}

button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.4);
}

.fa-user {
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  padding: 4px;
}

.fa-user:hover {
  border: 1px solid #8b949e;
}
